# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
backend/interview.db

# Node.js
node_modules/
frontend/node_modules/

# Vite cache
frontend/.vite/
**/.vite/

backend/kobert/
.venv/
venv/
kobert/
env/
.conda/
conda_env/
kobert_env
**/kobert/
# pyenv or unexpected home directories
.pyenv/
$HOME/
# Environment variables